{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-reservation-center">
        <div class="form-container-reservation">
            <div class="title-reservation">
                <h1>Réservation</h1>
            </div>
            {% if alert is defined %}
                <div class="alert alert-{{ alert == 'danger' ? 'danger' : 'success' }}">
                    {{ message }}
                </div>
            {% endif %}

            <form method="post" action="{{ path('app_reservation_form') }}">
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date" name="date" required>
                </div>
                <div class="form-group">
                    <label for="service">Service</label>
                    <select class="form-control" id="service" name="service" required>
                        <option value="1">Matin</option>
                        <option value="2">Soir</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Vérifier la disponibilité</button>
            </form>
        </div>
    </div>
{% endblock %}