{% extends 'base.html.twig' %}

{% block body %}
    <div class="form-reservation-center">
        <div class="form-container-reservation">
            <div class="title-reservation">
                <h1>Réservation</h1>
            </div>
            {% if alert is defined %}
                <div class="alert alert-{{ alert == 'danger' ? 'danger' : 'success' }}">
                    {{ message }}
                </div>
            {% endif %}

            <form method="post" action="" id="form-res">
            <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" class="form-control" id="date" name="date" required>
                </div>
                <div class="form-group">
                    <label for="service">Service</label>
                    <select class="form-control" id="service" name="service" required>
                        <option value="1">Matin</option>
                        <option value="2">Soir</option>
                    </select>
                </div>
                <div id="available-hours"></div>
                <button id="check-availability" class="btn btn-primary">Vérifier la disponibilité</button>
                <button type="submit" class="btn btn-primary" id="send-reservation" style="display: none">Faire ma Réservation</button>
            </form>
        </div>
    </div>

    <script>
        $( "#check-availability" ).on( "click", function( event ) {
             event.preventDefault();
            $.ajax({
                url: "/reservation/getHours",
                data: {
                    service: $('#service').val(),
                    date: $('#date').val()
                },
                success: function( result ) {
                    if (result.status === 'error') {
                        $('#available-hours').html('<div class="alerte-msg">' + result.error + '</div>');
                        $('#check-availability').show();
                        $('#send-reservation').hide();
                    }else {
                        var reservation_id = result.reservation_id;
                        $("#form-res").attr("action", "/reservation/make/" + reservation_id);

                        $('#check-availability').hide();
                        $('#send-reservation').show();

                        var availableTimes = result.available_times;
                        var timeOptions = '';
                        var defaultName = result.default_name ? result.default_name : '';
                        var defaultAllergies = result.default_allergies ? result.default_allergies : '';

                        for (var time in availableTimes) {
                            timeOptions += '<option value="' + availableTimes[time] + '">' + availableTimes[time] + '</option>';
                        }
                        $( "#available-hours" ).html(
                            '<form method="post" action="app_make_reservation">' +
                            '<div class="form-group">' +
                            '<label for="name">Nom :</label>' +
                            '<input type="text" id="name" name="name" value="' + defaultName +'" class="form-control">' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<label for="time">Heure :</label>' +
                            '<select id="time" name="time" class="form-control">' +
                            timeOptions +
                            '</select>' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<label for="number_of_seats">Nombre de convives :</label>' +
                            '<input type="number" id="number_of_seats" name="number_of_seats" min="0" max="' + result.available_seats + '" class="form-control">' +
                            '</div>' +
                            '<div class="form-group">' +
                            '<label for="allergies">Mentionnez nous vos allergies pour notre chef :</label>' +
                            '<input type="text" id="allergies" name="allergies" value="' + defaultAllergies + '" class="form-control">' +
                            '</div>' +
                            '</form>'
                        );
                    }

                }
            });
        });


    </script>


{% endblock %}