{% extends 'base.html.twig' %}

{% block body %}

        <div class="form-seat-center">
            <div class="form-container-seat">
                <div class="title-seat">
                    <h1>Modifier le nombre de place</h1>
                </div>

                <div class="form-row">
                    {{ form_start(form) }}

                    {{ form_widget(form, {'attr': {'class': 'form-seat'}}) }}
                    <button type="submit" class="btn">Mettre à jour</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
