<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="{{ asset('media/img/logo-white.png') }}" alt="Logo Quai Antique" width="150" height="150">
            </div>
            <div class="col-md-4 text-center">
                <h4>Horaires</h4>
                <p>Lun - Ven : 11h30 - 14h / 18h30 - 22h</p>
                <p>Sam - Dim : 12h - 15h / 18h30 - 22h</p>
            </div>
            <div class="col-md-4 text-center">
                <p>Tous droits réservés © {{ "now"|date("Y") }} Quai Antique</p>
            </div>
        </div>
    </div>
</footer>
