@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
    background-color: black;
}

//////////////////////////////
////    navbar
//////////////////////////////

.navbar {
    background-color: #000; /* Fond noir */
    .navbar-brand {
        color: #b1b1b1; /* Couleur du texte */
        &:hover {
            color: #ecf0f1; /* Couleur du texte au survol */
        }
    }
    .nav-link {
        color: #b1b1b1; /* Couleur du texte */
        &:hover {
            color: #ecf0f1; /* Couleur du texte au survol */
        }
        &.active {
            color: #ecf0f1; /* Couleur du texte pour l'élément actif */
        }
    }
    .navbar-toggler-icon {
        border-color: #b1b1b1; /* Couleur de la ligne de l'icône */
    }
    .navbar-collapse {
        .dropdown-menu {
            background-color: #000; /* Fond noir pour le menu déroulant */
            a {
                color: #b1b1b1; /* Couleur du texte */
                &:hover {
                    color: #ecf0f1; /* Couleur du texte au survol */
                }
            }
        }
    }
}

/////////////////////////////////////////////
///
///            Home
///
/////////////////////////////////////////////

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;

    .row {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        @media (min-width: 769px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            order: 1;
        }

    }

    .col-md-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
            opacity: 0.7;
        }

        p {
            opacity: 0.7;
            font-size: 0.6rem;
            text-align: center;
        }

        img {
            width: 100%;
            height: auto;
        }

        @media (min-width: 769px) {
            width: 50%;
            flex-basis: 50%;
            align-items: flex-start;

        }
    }


    .photo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 2rem;
        height: auto;
        width: 100%;




        img {
            width: 100%;
            height: auto;
        }

        button {
            position: absolute;
            bottom: 10%;
            right: 50%;
            transform: translateX(50%);
            border: 1px solid white;
            color: white;
            background-color: transparent;
            transition: background-color 0.3s ease-in-out;
        }

        button:hover {
            background-color: black;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;

            img {
                height: auto;
            }

            button {
                bottom: 10%;
                right: 50%;
                transform: translateX(50%);
            }
        }


        .background-image {
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem;

            h2 {
                font-size: 1.5rem;
                margin-bottom: 1rem;
                margin-left: -20px;
            }

            p {
                font-size: 0.5rem;
                margin-right: -20px;
                text-align: right;
            }

        }

    @media (max-width: 768px) {
        .col-md-6 {
            width: 100%;
            align-items: flex-start;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .background-image,
        .photo-container {
            margin-bottom: 0;
        }

    }
    }
}
.full-width {
    margin: 0;
    padding: 0;
    width: 100%;
}


