
.container-gx0{
  margin-top: 40px;
  margin-left: 0;
  width: 100%;

  .first-row{
    @media (min-width: 900px) {
      height: 100vh;
    }

    align-items: center;
    @media (max-width: 765px) {
      //padding-left: 10%;
      width: 100%;
    }
    .message{
      width: 80%;
      margin: 0 10%;
      text-align: center;



     .col-md-12 col-sm-12 message{

       }

    }
    h1{
      margin-left: 5%;
    }
    p{
      margin-left: 15%;
      margin-top: 5%;
    }
    }
    .photo-container {

      position: relative;

      button{
        position: absolute;
        bottom: 10%;
        right: 50%;
        transform: translateX(50%);
        border: 2px solid white;
        width: 50%;
        height: 10%;
        color: white;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
      }
      button:hover {
        background-color: black;
      }


    }
  }

.last-content{
  text-align: center;
  padding-top: 1rem ;
  display: flex;
  @media (max-width: 450px) {
    #carouselExampleControls{
      position: absolute;
    }
    h4{ margin-top: 100%}
  }
  h4{
    padding-top: 5%;
    padding-bottom: 1rem;
  }
  p{
   margin-top: 30%;
    margin-left: 35%;
  }
}





img{
  width: 100%;
}