.menu-rideau {
  position: fixed;
  top: 50%;
  right: -30%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem;
  z-index: 1;
  width: 30%;
  height: 100vh;
  transition: right 0.5s ease, width 0.5s ease;

  @media(max-width: 900px) {
    right: -75%;
    width: 75%;
  }


  ul {
    list-style: none;
    margin: 60% 0 0 15%;
    padding: 0;
    @media(max-width: 900px) {
      margin: 80% 0 0 15%;
    }


    li {
      margin-bottom: 0.5rem;


      a {
        color: #fff;
        text-decoration: none;
        font-size: 1.2rem;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.visible {
  right: 0;
}

.picture-present {
  width: 100%;
  height: 90vh;

  @media(max-width: 900px) {
    height: 80vh;
  }
}

.menu-card {
  margin-top: 1rem;
  text-align: center;

  .pic-div {
    margin: 1rem 0;
  }

  .menu-div {
    margin: 1rem 0;
  }

  .menu-title {
    margin: 1rem 0;
  }

  .menu-category {
    margin: 1rem 0;
  }

  h3 {
    margin: 1rem 0;
  }

  .dish-list{
    padding: 0;
  }

  ul {
    margin: 1rem 0;
  }

  .price-formule {
    background-color: #3d3d3d;
    border: #fff solid 1px;
    border-radius: 5px;
    width: 50%;
    margin: 2rem 25%;
    @media (max-width: 500px) {
      width: 90%;
      margin: 2rem 5%;
    }

    .formule {
      text-align: center;
      padding: 2rem;

    }
  }

}

.carte-last {
  padding-top: 1rem;
  text-align: center;

  h2 {
    padding: 1rem 0 2rem 0;
  }

  h4 {
    padding: 1rem 0 1rem 0;
  }

  .dish-name-carte {
    font-weight: bold;
  }
}

#menu {
  margin-top: -100px;
  padding-top: 100px;
  @media (max-width: 769px) {
    margin-top: -120px;
    padding-top: 120px;
  }
}

#carte {
  margin-top: -100px;
  padding-top: 100px;
  @media (max-width: 769px) {
    margin-top: -120px;
    padding-top: 120px;
  }
}

.photo-container {
  margin-top: 2rem;
  margin-bottom: 1rem;

  position: relative;
  @media(max-width: 500px) {
    img {
      height: 50vh;
    }
  }


  .button {
    position: absolute;
    bottom: 10%;
    right: 50%;
    transform: translateX(50%);
    border: 2px solid white;
    width: 50%;
    color: white;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    line-height: 100%;
    padding: 1.5rem 0;
  }

  .button:hover {
    background-color: black;
  }


  @media(max-width: 500px) {
    button {
      height: 15%;
    }
  }

}

.title-center {
  text-align: center;
  margin: 1rem 0;
}

.title-center, .last-title-card {
  font-family: Parisienne;
  font-size: 3rem;
}


h3, h4 {
  font-family: Parisienne;
  font-size: 2.5rem;
}

.img-fluid{
  max-height: 90vh;
}