.navbar {
  background-color: #000;

  .navbar-brand {
    color: #b1b1b1;
    &:hover {
      color: #ecf0f1;
    }
    img{
      width: 70px;
      height: auto;
    }
  }

  .nav-link {
    color: #b1b1b1;
    font-size: 20px;
    &:hover {
      color: #ecf0f1;
    }

    &.active {
      color: #ecf0f1;
    }
  }

  .navbar-toggler-icon {
    border-color: #b1b1b1;
  }

  .navbar-collapse {
    .dropdown-menu {
      background-color: #000;
      color: #b1b1b1;

      .dropdown-item {
        background-color: #000;
        color: #b1b1b1;
        &:hover {
          color: #ecf0f1;
        }
      }
    }
  }

  .nav-item {
    &.ml-lg-2 {
      &.button-circle {
        background-color: #6A6765;
        color: #fff;
        border: none;
        border-radius: 50%;
        padding: 0;
        font-size: 18px;
        width: 30px;
        height: 30px;

        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
          content: "";
          display: inline-block;
          vertical-align: middle;
          height: 100%;
        }
      }
    }
  }
}
