.navbar {
  background-color: #000; /* Fond noir */

  .navbar-brand {
    color: #b1b1b1; /* Couleur du texte */
    &:hover {
      color: #ecf0f1; /* Couleur du texte au survol */
    }
  }

  .nav-link {
    color: #b1b1b1; /* Couleur du texte */
    &:hover {
      color: #ecf0f1; /* Couleur du texte au survol */
    }

    &.active {
      color: #ecf0f1; /* Couleur du texte pour l'élément actif */
    }
  }

  .navbar-toggler-icon {
    border-color: #b1b1b1; /* Couleur de la ligne de l'icône */
  }

  .navbar-collapse {
    .dropdown-menu {
      background-color: #000; /* Fond noir pour le menu déroulant */

      a {
        color: #b1b1b1; /* Couleur du texte */
        &:hover {
          color: #ecf0f1; /* Couleur du texte au survol */
        }
      }
    }
  }

  .nav-item {
    &.ml-lg-2 {
      &.button-circle {
        background-color: #6A6765; /* Couleur de fond */
        color: #fff; /* Couleur du texte (initiales) */
        border: none; /* Suppression des bordures */
        border-radius: 50%; /* Bordure arrondie pour créer un bouton rond */
        padding: 0; /* Suppression du padding pour centrer le texte */
        font-size: 18px; /* Taille de police des initiales */
        width: 30px; /* Largeur réduite du bouton */
        height: 30px; /* Hauteur réduite du bouton */

        display: flex; /* Utilisation de flexbox */
        align-items: center; /* Centrage vertical */
        justify-content: center; /* Centrage horizontal */

        &::after {
          content: "";
          display: inline-block;
          vertical-align: middle;
          height: 100%;
        }
      }
    }
  }
}
